.center-top {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}
.center-bottom {
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
}

.list-download {
    margin-top: 10px;
}
.list-crate {
    margin-top: 10px;
    margin-right: 40px;
}
.list-play {
    margin-top: 10px;
}
.scrollable-ajax {
    padding-bottom: 50px;
}

.crate_download{
    width: 100px;
    padding: 5px;
    border: none;
    background: #428bca;
    color: #fff;
}