<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /vip/
    RewriteCond %{REQUEST_URI} ^system.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]
	RewriteCond %{REQUEST_URI} ^application.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
	RewriteCond %{HTTP_HOST} ^nitishkumarsingh.in/vip [NC]
	RewriteRule ^(.*)$ http://www.nitishkumarsingh.in/vip/$1 [L,R=301]

</IfModule>
